[class^="icon--"],
[class*=" icon--"] {
  background-size: cover;
  &:before,
  &:after {
    content: "";
    background-size: cover;
    pointer-events: none;
  }
}

.icon--hamburger--before:before,
.icon--hamburger--after:after,
.icon--hamburger {
  background-image: url('https://assets.staticlp.com/destinations-next/icons/hamburger.svg');
  background-repeat: no-repeat;
}
.icon{
  height: 40px;
  width: 60px;
  //border: 1px solid $body-background;
  background-color: #000;
}

.icon--lp-logo {
  background-image: url("https://assets.staticlp.com/destinations-next/icons/lp-logo.svg");
}

.icon--search {
  background-image: url("https://assets.staticlp.com/destinations-next/icons/search.svg");
}

.chevron-right {
  background-image: url("https://assets.staticlp.com/destinations-next/icons/chevron-right.svg");
}

.icon--sight {
  background:{
    image: url("https://assets.staticlp.com/destinations-next/icons/sight--line.svg");
    repeat: no-repeat;
    size: 70%;
  }
}

.icon--white {
  background-position: 0 40%
}
